body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  /* background-color: black; */
}

@font-face {
  font-family: "My Font";
  src: url("/Fonts/cubono/Cubano.ttf");
}

@font-face {
  font-family: "Soofia";
  src: url("/Fonts/sofiapro/Fonts/sofiapro-light.otf");
}

header {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  overflow: hidden;
}

h2 {
  font-size: 45px;
  font-family: "My Font", sans-serif;
  /* text-decoration: underline; */
}

.fireship-font {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #f97316;
  --tw-gradient-to: rgb(249 115 22 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #eab308;
  background-clip: text;
  color: #0000;
  -webkit-background-clip: text;
}
section {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}

.description {
  font-size: 20px;
  margin-top: 3px;
  font-family: "My Font", sans-serif;
}

.yellow-txt {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}

.pink-txt {
  --tw-text-opacity: 1;
  color: rgb(236 72 153 / var(--tw-text-opacity));
}

.content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: grey; */
  padding-top: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.blog{
  cursor: pointer;
  font-family: 'My Font', sans-serif;
  margin-bottom: 0;
}

.author-follow{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.author{
  cursor: pointer;
  font-family: 'My Font', sans-serif;
  margin-bottom: 10px;
  margin-top: 0;
  margin-right: 1%;
}

.brand {
  font-family: "My Font", sans-serif;
  font-size: larger;
  font-weight: 100;
}

.search-bar {
  overflow: hidden;
  display: flex;
  /* width: 10%; */
  position: relative;
  margin-left: 0;
  padding-left: 5%;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search {
  overflow: hidden;
  width: 90%;
  height: 33px;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  background-color: rgb(237, 237, 237);
  padding-left: 10px;
}

hr {
  width: 100%;
  border-top: 0.5px solid white;
}

.logo-container {
  align-items: center;
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 4%;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

h3 {
  margin: 0;
}

video {
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

.main {
  flex-direction: row;
  margin-left: 30%;
  margin-right: 30%;
  /* justify-content: center; */
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.animate-bounce {
  animation: bounce 4s infinite;
}

.block {
  display: block;
}

.btn-green {
  cursor: pointer;
  font-size: 15px;
  border-style: solid;
  border-color: transparent;
  font-weight: 500;
  font-family: "My Font", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: #22c55e;
}

.course{
  cursor: pointer;
  font-size: 15px;
  border-style: solid;
  border-color: transparent;
  font-weight: 500;
  font-family: "My Font", sans-serif;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: #22c55e;
}

.text-gray3 {
  font-family: "My Font", sans-serif;
  --tw-text-opacity: 1;
  color: rgb(178 190 205 / var(--tw-text-opacity));
}
.text-5xl {
  font-family: "My Font", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0;
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.font-display {
  font-family: "My Font", sans-serif;
}
.animate-pulse {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.no-underline {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.text-gray7 {
  --tw-text-opacity: 1;
  color: rgb(18 24 27 / var(--tw-text-opacity));
}
.text-6xl {
  font-size: 1.5rem;
  line-height: 1;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
.inline-block {
  display: inline-block;
}

/* .mb-course-btn{
  display: none;
} */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.inr-div{
  display: flex;;
  justify-content: center;
  align-items: center;
}

.Btn-donate-inr {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn-donate-inr::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn-donate-inr:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn-donate-inr:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}